<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home page</title>
  </head>
  <body>
    {{> title}}
    <p>{{screamIt welcomeMessage}}</p>
    {{!-- welcomeMessage in this case is the argument of the ScreamIt helper --}}
    {{> footer}}
  </body>
</html>
